[submodule "deps/zsh-yarn-completions"]
	path = deps/zsh-yarn-completions
	url = https://github.com/chrisands/zsh-yarn-completions.git
[submodule "deps/zsh-autosuggestions"]
	path = deps/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
