font_family         PragmataPro Mono Regular
bold_font           PragmataPro Mono Bold
italic_font         PragmataPro Mono Italic
bold_italic_font    PragmataPro Mono Bold Italic
font_size           15.0


shell /usr/local/bin/zsh --login

cursor_blink_interval 0
cursor #888888

window_padding_width 5

macos_titlebar_color background

# light
background  #f1f1f1
foreground  #424242

# dark
# background  #121212
# foreground  #f1f1f1

# black
color0   #fafafa
color8   #a0a1a7

color1   #ca1243
color9   #d75f00

color2   #50a14f
color3   #c18401
color4   #4078f2
color5   #a626a4
color6   #0184bc
color7   #383a42

color10  #2fc774
color11  #e5e5e6
color12  #696c77
color13  #202227
color14  #986801
color15  #383a42

map super+w        close_window
map super+v        paste_from_clipboard
map super+c        copy_to_clipboard
map super+n        new_os_window
map super+t        new_tab
map super+i        next_layout
map super+[        previous_tab
map super+]        next_tab
map super+e        kitty_shell window
map super+shift+h  show_scrollback

tab_separator " | "
active_tab_background #f1f1f1
inactive_tab_background #f1f1f1

remember_window_size   no
initial_window_width   640
initial_window_height  900
