font_family         PragmataPro Mono Regular
bold_font           PragmataPro Mono Bold
italic_font         PragmataPro Mono Italic
bold_italic_font    PragmataPro Mono Bold Italic
font_size           18.0


shell /usr/local/bin/zsh --login

cursor_blink_interval 0
cursor #888888

window_padding_width 5

macos_titlebar_color background

# light
background  #f1f1f1
foreground  #424242

# dark
# background  #121212
# foreground  #f1f1f1

# black
color0   #fafafa
color8   #a0a1a7

color1   #ca1243
color9   #d75f00

color2   #50a14f
color3   #c18401
color4   #4078f2
color5   #a626a4
color6   #0184bc
color7   #383a42

color10  #2fc774
color11  #e5e5e6
color12  #696c77
color13  #202227
color14  #986801
color15  #383a42


# LIGHT COSMIC THEME
active_tab_foreground   #fff8e7
background              #fff8e7
cursor_text_color       #fff8e7
inactive_border_color   #fff8e7
inactive_tab_background #fff8e7
selection_foreground    #fff8e7
active_border_color     #485a62
active_tab_background   #485a62
foreground              #485a62
inactive_tab_foreground #485a62
selection_background    #485a62
cursor                  #364850
bell_border_color       #c44756
url_color               #0075c9

color0  #fff8e7
color1  #c44756
color2  #1f8332
color3  #916d03
color4  #0075c9
color5  #a154ae
color6  #007f8a
color7  #485a62
color8  #63757e
color9  #c44756
color10 #1f8332
color11 #916d03
color12 #0075c9
color13 #a154ae
color14 #007f8a
color15 #364850

# DARK COSMIC THEME
#active_tab_foreground   #202a31
#background              #202a31
#cursor_text_color       #202a31
#inactive_border_color   #202a31
#inactive_tab_background #202a31
#selection_foreground    #202a31
#active_border_color     #abb0c0
#active_tab_background   #abb0c0
#foreground              #abb0c0
#inactive_tab_foreground #abb0c0
#selection_background    #abb0c0
#cursor                  #c5cbdb
#bell_border_color       #c17b8d
#url_color               #5496bd

#color0  #202a31
#color1  #c17b8d
#color2  #7d9761
#color3  #b28761
#color4  #5496bd
#color5  #9b85bb
#color6  #459d90
#color7  #abb0c0
#color8  #898f9e
#color9  #c17b8d
#color10 #7d9761
#color11 #b28761
#color12 #5496bd
#color13 #9b85bb
#color14 #459d90
#color15 #c5cbdb

map super+w        close_window
map super+v        paste_from_clipboard
map super+c        copy_to_clipboard
map super+n        new_os_window
map super+t        new_tab
map super+i        next_layout
map super+[        previous_tab
map super+]        next_tab
map super+e        kitty_shell window
map super+shift+h  show_scrollback

tab_separator " | "
active_tab_background #f1f1f1
inactive_tab_background #f1f1f1

remember_window_size   no
initial_window_width   640
initial_window_height  900
